<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aau.wimb.whereismybike">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BikeOwner.UserLoginActivity"
            android:label="@string/title_activity_bike_user"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aau.wimb.whereismybike.LaunchActivity" />
        </activity>
        <activity
            android:name=".Police.PoliceLoginActivity"
            android:label="@string/title_activity_police"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aau.wimb.whereismybike.LaunchActivity" />
        </activity>
        <activity
            android:name=".BikeOwner.UserRegisterActivity"
            android:label="@string/title_activity_bike_user"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aau.wimb.whereismybike.LaunchActivity" />
        </activity>
        <activity
            android:name=".Police.PoliceRegisterActivity"
            android:label="@string/title_activity_police"
            android:parentActivityName=".LaunchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aau.wimb.whereismybike.LaunchActivity" />
        </activity>
        <activity
            android:name=".BikeOwner.UserMainActivity"
            android:label="@string/title_activity_bike_user_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Police.PoliceMainActivity"
            android:label="@string/title_activity_police_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>